<div class="col-sm-6 col-md-6 col-lg-6">
    <p>Markdown</p>
    <textarea id="editor" minlength="5" name="post_body" class="form-control" required></textarea>
</div>

<div class="no_pad_right col-sm-6 col-md-6 col-lg-6">
    <p>Live HTML</p>
    <div id="preview"></div>
</div>
<div class="editorMenu col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-4 text-left">
        <button id="btnPostDelete" class="btn btn-danger btn-sm">Delete</button>
    </div>
    <div class="col-sm-4 text-center">
        <button id="btnPostPaste" class="btn btn-info btn-sm">Paste image</button>
    </div>
    <div class="col-sm-4 text-right no_pad_right">
        <button id="btnPostSave" class="btn btn-success btn-sm pull-right">Save</button>
    </div>
</div>